.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-row {
  display: flex;
  gap: 10px;
}

* {
  text-transform: uppercase;
  max-width: 720px;
}

main {
  margin: 40px;
}

input {
  text-transform: none;
}

.mt-40 {
  margin-top: 40px;
}